<div class="centering-container">
  <i class="fa-regular fa-circle-check text-success mb-2" style="font-size: 100px"></i>
  <h3 class="text-center text-success font-weight-extrabold">ログインしました</h3>
  <div class="text-center font-weight-light font-size-sm">
    会場のQRコードを読み込んでチェックインしてください
  </div>
</div>