<table class="table table-borderless mx-auto" style="max-width: 600px">
  <tbody>
  <tr>
    <td> <%= link_to "イベント一覧", admin_events_path, class: "d-block btn btn-secondary mx-auto" %></td>
  </tr>
  <tr>
    <td> <%= link_to "ユーザ一覧", admin_users_path, class: "d-block btn btn-secondary mx-auto" %></td>
  </tr>
  </tbody>
</table>
