<div class="centering-container">
  <i class="fa-solid fa-square-xmark text-danger mb-2" style="font-size: 100px"></i>
  <h3 class="text-center text-danger font-weight-extrabold"><%= message %></h3>
  <% if defined? description1 %>
    <div class="text-center font-weight-light font-size-sm my-1">
      <%= description1 %>
    </div>
  <% end %>
  <% if defined? description2 %>
    <div class="text-center font-weight-light font-size-sm">
      <%= description2 %>
    </div>
  <% end %>
</div>