<div class="centering-container">
  <i class="fa-solid fa-square-check text-success mb-2" style="font-size: 100px"></i>
  <h3 class="text-center text-success font-weight-extrabold">出席登録完了</h3>
  <% if defined? description1 %>
    <div class="text-center font-weight-light font-size-sm my-1">
      <%= description1 %>
    </div>
  <% end %>
  <% if defined? description2 %>
    <div class="text-center font-weight-light font-size-sm">
      <%= description2 %>
    </div>
  <% end %>
</div>